<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form-horizontal">
  <div class="card">
    <div class="card-header">
      <h3> Reset Password </h3>
      <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-6 form-label" for="password">Password:</label>
        <div class="col-sm-6" [ngClass]="{'errors': formErrors.password }">
          <input id="password" formControlName="password" type="password" maxlength="12" class="form-control"
            (blur)="checkValidationErrors()" />
          <span *ngIf="formErrors.password">{{formErrors.password}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 form-label" for="confirmPassword">Confirm Password:</label>
        <div class="col-sm-6" [ngClass]="{'errors': formErrors.confirmPassword }">
          <input id="confirmPassword" formControlName="confirmPassword" type="password" maxlength="12" class="form-control"
            (blur)="checkValidationErrors()" />
          <span *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary float-right" [disabled]="resetPasswordForm.invalid">Reset</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>