<form [formGroup]="editBranchForm">
<div class="card">
    <div class="card-header text-center">
      <h3>Branch Details</h3>
    </div>
    <div class="card-body cardbody-responsive">

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              Id:
            </td>
            <td>
              <label>{{selectedBranch.branchId}}</label>
            </td>
          </tr>
          <tr>
            <td>
              Name:
            </td>
            <td>
              <label *ngIf="!editMode">{{selectedBranch.name}}</label>
              <input type="text" *ngIf="editMode" formControlName="name" [(ngModel)]="selectedBranch.name" id="name" name="name">
            </td>
          </tr>
          <tr>
            <td>
              Phone:
            </td>
            <td>
              <label *ngIf="!editMode">{{selectedBranch.phone}}</label>
              <input type="text" *ngIf="editMode" formControlName="phone" [(ngModel)]="selectedBranch.phone" id="phone" name="phone">
            </td>
          </tr>
          <tr>
            <td>
              Email:
            </td>
            <td>
              <label *ngIf="!editMode">{{selectedBranch.email}}</label>
              <input type="text" *ngIf="editMode" formControlName="email" [(ngModel)]="selectedBranch.email" id="email" name="email">
            </td>
          </tr>
          <tr>
            <td>
              Address:
            </td>
            <td>
              <label *ngIf="!editMode">{{selectedBranch.address}}</label>
              <textarea type="textarea" *ngIf="editMode" formControlName="address" [(ngModel)]="selectedBranch.address" id="address" name="address"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              Head branch:
            </td>
            <td>
              <input type="checkbox" [disabled]="!editMode" formControlName="isHeadBranch" [(ngModel)]="selectedBranch.isHeadBranch" id="isHeadBranch" name="isHeadBranch">
            </td>
          </tr>
          <tr>
            <td>
              Print invoice:
            </td>
            <td>
              <input type="checkbox" [disabled]="!editMode" formControlName="printInvoice" [(ngModel)]="selectedBranch.printInvoice" name="printInvoice">
            </td>
          </tr>
          <tr>
            <td>
              Tax:
            </td>
            <td>
              <div class="form-group row">
                <div class="col-sm-8" >
                  <div class="row" style="margin-bottom:8px;" *ngFor="let tax of Taxes; index as i">
                    <div class="col-sm-4">
                      <input id="tax" type="text" [disabled]="!editMode" class="form-control" [(ngModel)]="tax.key" [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="col-sm-4">
                      <input id="tax" type="number" [disabled]="!editMode" class="form-control" [(ngModel)]="tax.value" min="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                  <button id="addTaxFileds" [disabled]="!editMode" type="button" class="btn btn-info" (click)="addTaxFields()">Add</button>
                </div>
              </div>

            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="card-footer">
      <div class="row" *ngIf="!editMode">
        <div class="col-sm-6">
          <button type="button" class="btn btn-secondary float-right" (click)="editBranch()">Edit</button>
        </div>
        <div class="col-sm-6">
            <!-- <a class="btn btn-danger" (click)="deleteBranch()" >
                <i class="fa fa-trash-o fa-lg"></i> Delete</a> -->
          <button type="button" class="btn btn-danger" >Delete</button>
        </div>
      </div>
      <div class="row" *ngIf="editMode">
        <div class="col-sm-12 text-center">
          <button type="button" class="btn btn-secondary" (click)="saveBranch()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>