<p-toast></p-toast>
<div class="card">
    <p-table #dt [value]="cart.products" styleClass="p-datatable-gridlines p-datatable-responsive-demo"
        scrollHeight="300px" [rows]="10" dataKey="code" editMode="row" [style]="{'width':'100%'}">
        <ng-template pTemplate="caption">
            Cart
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th [style]="{'width':'10%'}">Product Code</th>
                <th [style]="{'width':'30%'}">Name</th>
                <th [style]="{'width':'15%'}">Price</th>
                <th [style]="{'width':'15%'}">Quantity</th>
                <th [style]="{'width':'10%'}">Discount</th>
                <th [style]="{'width':'15%'}">Amount</th>
                <th style="width:4rem" [style]="{'width':'5%'}"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
                <td>
                    {{product.code}}
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="product.price"
                                [style]="{'text-align': 'center', 'width': '100%'}">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.price | currency:'INR'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="product.quantity" [size]="1" [showButtons]="true"
                                buttonLayout="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus"
                                decrementButtonIcon="pi pi-minus" decrementButtonClass="p-button-danger"
                                incrementButtonClass="p-button-success" [inputStyle]="{'text-align': 'center'}"
                                [style]="{'text-align': 'center', 'width': '100%'}">
                            </p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.quantity}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="product.discount"
                                [style]="{'text-align': 'center', 'width': '100%'}">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.discount | currency:'INR'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    {{(product.price * product.quantity) - product.discount | currency:'INR'}}
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(product)" class="p-button-rounded p-button-text p-mr-2">
                    </button>
                    <button *ngIf="!editing" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-text p-button-danger p-mr-2" (click)="deleteProduct(product)">
                    </button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2">
                    </button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(product, ri)"
                        class="p-button-rounded p-button-text p-button-danger p-mr-2">
                    </button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="3" class="p-text-right">Totals</td>
                <td style="font-weight: bold;">{{cart.totalQuantity}}</td>
                <td style="font-weight: bold;">{{cart.totalDiscount | currency: 'INR'}}</td>
                <td style="font-weight: bold;">{{cart.totalAmount | currency: 'INR'}}</td>
                <td colspan="1" class="p-text-left"></td>
            </tr>
        </ng-template>

    </p-table>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>