.login-form {
    min-width: 150px;
    max-width: 400px;
    margin-top: 180px;
    margin-left: 545px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .body-font {
		font-family: 'Varela Round', sans-serif;
  }
  .card-header h4 {
    text-align: center;
		font-size: 26px;
		margin: 10px 0 -15px;
  }

  .modal-login .form-group {
		position: relative;
  }
  
  .modal-login i {
		position: absolute;
		left: 13px;
		top: 11px;
		font-size: 18px;
	}
	.modal-login .form-control {
		padding-left: 40px;
	}
	.modal-login .form-control:focus {
		border-color: #00ce81;
	}