<div class="row h-100">
  <div class="col-sm-4  mx-auto my-auto display:flex"> 
      <div class="card text-center">
        <h5 class="card-header">
          Register Device
        </h5>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-4">
              <label for="device">Device name: </label>
            </div>
            <div class="col-xs-8">
              <input type="text" id="devicename" />
            </div>
          </div>
        </div>
      </div>
    </div> 
</div>